<footer>
  <style>
    /* footer */

    .logocopy {
      /* position: absolute; */
      bottom: 9.5em;
      left: 10%;
      display: flex;
      align-items: center;
    }

    .name {
      margin-left: 1em;
      font-size: 1.2em;
      text-transform: uppercase;
    }

    .top {
      /*position: absolute;*/
      background-color: black;
      width: 50%;
      height: 6.5em;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%);
      bottom: 8em;
    }

    .social {
      padding-right: 10%;
    }

    .fa {
      font-size: 20px !important;
      background: white;
      color: black;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      padding-top: 8px;
      text-align: center;
      margin: 15px;
    }

    .bottom {
      /* position: absolute; */
      background-color: black;
      bottom: 0;
      left: 0;
      right: 0;
      height: 8em;
      padding-top: 1.5em;
    }

    .footertext {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      cursor: pointer;
    }

    .text {
      position: relative;
      color: white;
      margin: 20px;
      text-align: center;
    }

    .text:hover {
      color: #ff7300;
    }

    .copyright {
      color: white;
      text-align: center;
      font-size: 13px;
      opacity: 35%;
    }
  </style>
  <link rel="stylesheet" href="/css/footer.css" />
  <div class="logocopy">
    <div class="name">name</div>
  </div>
  <div class="top">
    <div class="social">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-instagram"></a>
    </div>
  </div>
  <div class="bottom">
    <div class="footertext">
      <a href="#" class="text">Cookie policy</a>
      <a href="#" class="text">User agreement</a>
    </div>
    <p class="copyright">Copyright 2021 All Rights Reserved</p>
  </div>
</footer>
<!--
<div class="footer">
  <div>
    <a class="a_footer" href="/"> home </a>
    <a href="#" class="text">Cookie policy</a>
    <a href="#" class="text">User agreement</a>
  </div>
</div>
-->
<!--

<footer>
  <div class="logocopy">
    <div class="name">name</div>
  </div>
  <div class="top">
    <div class="social">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-instagram"></a>
    </div>
  </div>
  <div class="bottom">
    <div class="footertext">
      <a href="#" class="text">Cookie policy</a>
      <a href="#" class="text">User agreement</a>
    </div>
    <p class="copyright">Copyright 2021 All Rights Reserved</p>
  </div>
</footer>
-->
